body {
  background-color: #64B5F6;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
  background: url('/img/background.jpg') no-repeat center center;
  background-size: cover;
  padding-top: 75px;
  padding-bottom: 75px;
}

footer {
  margin-top: 0 !important;
}

// medium screens
@media (max-width: 992px) {
  #header {
    font-size: 3.4rem !important;
  }

  #subheader {
    font-size: 2.12rem !important;
  }

  main {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }
}

// small screens
@media (max-width: 600px) {
  #header {
    font-size: 2.8rem !important;
  }

  #subheader {
    font-size: 1.52rem !important;
  }

  main {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}